* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: vw;
    height: vh;
    background-color:black;
    color: white;
}

.game-components {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.checkboxes {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
}

.checkbox-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.checkbox-item h4 {
    margin: 0;
}

.buttons button {
    height: 2rem;
    width: 10rem;
    font-weight: 700;
    border-style: none;
}

.buttons button:hover {
    transform: scale(1.2);
}